In [2]:
import pandas as pd
df1=pd.read_csv("takehome_users.csv",encoding='latin-1')
df2=pd.read_csv("takehome_user_engagement.csv")
df3=pd.concat([df1,df2],axis=1)
df3

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,user_id,visited
0,1.0,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1.0,0.0,11.0,10803.0,2014-04-22 03:53:30,1,1
1,2.0,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0.0,0.0,1.0,316.0,2013-11-15 03:45:04,2,1
2,3.0,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0.0,0.0,94.0,1525.0,2013-11-29 03:45:04,2,1
3,4.0,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0.0,0.0,1.0,5151.0,2013-12-09 03:45:04,2,1
4,5.0,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0.0,0.0,193.0,5240.0,2013-12-25 03:45:04,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
207912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-09-06 06:14:15,11996,1
207913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-01-15 18:28:37,11997,1
207914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04-27 12:45:16,11998,1
207915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-06-02 11:55:59,11999,1
207916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-01-26 08:57:12,12000,1

In [ ]:
import matplotlib.pyplot as plt
plt.pie(df1.org_id)
plt.show()

In [ ]:
plt.barh(df3.last_session_creation_time,df3.creation_source)
plt.show()